# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
*.env
*.venv/
env/
venv/

# VSCode or JetBrains IDEs
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Environment variables / secrets
**/.env

# Uploaded media
backend/videos/

# Docker-related files
docker-compose.override.yml
docker-compose.debug.yml
Dockerfile
docker-compose.yml
.dockerignore

# Ignore Docker volumes and images
**/docker-volume/
**/docker-images/

# Node-related (if accidentally created in frontend/backend)
node_modules/
npm-debug.log
yarn-error.log

# Streamlit Cache (for frontend)
frontend/.streamlit/
frontend/__pycache__/
